.carousel-control-prev , .carousel-control-next{
    width: 8%;
    background-color: black;
}

/* .carousel-control-next-icon , .visually-hidden{
    color: rgb(196, 51, 51);
    background-color: black;
    
} */